---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry: CollectionEntry<'blog'>) => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <section>
    <h1>{entry.data.title}</h1>
    <p><em>By {entry.data.author} on {entry.data.date.toDateString()}</em></p>
    <hr>
    <Content />
  </section>
</Layout>
